<div class="container">
    @if (ViewBag.Mensaje != null)
    {
        <div class="row justify-content-center">

            <div class="alert alert-danger" role="alert">
                @ViewBag.Mensaje
            </div>
        </div>
    }

    <div class="row justify-content-center">
        <div class="col-4">
            <h1>Iniciar Sesión</h1>
            <form method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingresar email">
                </div>
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" class="form-control" placeholder="Ingresar contraseña">
                </div>
                <div class="text-center mt-2 mb-5">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                </div>
            </form>
        </div>
    </div>
</div>